.container {
    width: 25%;
    height: 90vh;
    background-color: #fff;
    border-radius: 32px;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    padding: 1.5em;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.empty_text_img {
    height: 320px;
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    margin-bottom: 2em;
}

.container h2 {
    font-size: 24px;
    font-weight: 700px;
    color: #343A40;
    margin-bottom: .5em;
}

.outputActive {
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.outputActive p{
    width: 100%;   
    font-size: 24px;
    color: #495057;
    line-height: 150%;
}

.outputActive button {
    background: transparent;
    border: 1px solid #0A3871;
    border-radius: 20px;
    font-weight: 400;
    color: #0A3871;
    padding: 1em ;
    width: 100%;
    transition: .2s;
    cursor: pointer;
}

.outputActive button:hover {
    background: #D8DFE8;
}