.container {
    width: 60%;
    height: 90vh;
    /* border: 1px solid red; */
    padding: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.text_area {
    border: none;
    font-size: 2em;
    background-color: transparent;
    width: 100%;
    height: 78%;
    margin-top: 2em;
    color: #0A3871;
    resize: unset;
}

.text_area:focus {
    outline: none;
}

.text_area::placeholder {
    color: #0A3871;
}

.description {
    display: flex;
    align-items: center;
    margin-bottom: 1em;

}

.description p {
    font-size: 12px;
    color: #495057;
}

.attention_icon {
    height: 16px;
    width: 16px;
    background-position: center;
    background-size: cover;
    margin-right: .4em;
}


.actions {
    display: flex;
    justify-content: space-between;
}


.button {
    background: transparent;
    border: 1px solid #0A3871;
    border-radius: 20px;
    font-weight: 400;
    color: #0A3871;
    padding: 1em;
    width: 48%;
    transition: .2s;
    cursor: pointer;
}

.button:hover {
    background: #D8DFE8;
}

.active {
    background-color: #0A3871;
    color: #fff;
}

.active:hover {
    background: #093264;
    ;

}

@media screen and (max-width: 768px) {
    .container {
        width: 100%;
        height: 75vh;
    }
}

@media screen and (max-width: 375px) {
    .container {
        padding: 0 0 1em 0;
        height: 70vh;
    }

    .actions {
        flex-direction: column;
    }
    .button {
        width: 100%;
        margin-bottom: 1.5em;
    }
}