.view {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2em;
}

.container_input,
.container_output {
    margin: 1px solid red;
    background-color: aqua;
}