* {
  padding: 0;
  margin: 0;
  font-family: Helvetica;
  box-sizing: border-box;
  font-size: 16px;
}

body {
  background-color: #F3F5FC;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2em;
}

@media screen and (max-width: 768px) {
  main {
    flex-direction: column;
    /* align-items: center */
  }
}

@media screen and (max-width: 375px) {
  main {
    padding: 1.5em 1em;
  }
}